[submodule "vim/.vim/bundle/vim-lua-ftplugin.git"]
    path = vim/.vim/bundle/vim-lua-ftplugin.git
    url = https://github.com/xolox/vim-lua-ftplugin.git
    ignore = all
[submodule "vim/.vim/bundle/vim-misc.git"]
    path = vim/.vim/bundle/vim-misc.git
    url = https://github.com/xolox/vim-misc.git
    ignore = all
[submodule "vim/.vim/bundle/vim-lua-inspect.git"]
    path = vim/.vim/bundle/vim-lua-inspect.git
    url = https://github.com/xolox/vim-lua-inspect.git
    ignore = all
[submodule "vim/.vim/bundle/vim-easymotion.git"]
    path = vim/.vim/bundle/vim-easymotion.git
    url = https://github.com/Lokaltog/vim-easymotion.git
    ignore = all
[submodule "vim/.vim/bundle/gundo.vim.git"]
    path = vim/.vim/bundle/gundo.vim.git
    url = http://github.com/sjl/gundo.vim.git
    ignore = all
[submodule "vim/.vim/bundle/lightline.vim"]
    path = vim/.vim/bundle/lightline.vim
    url = https://github.com/itchyny/lightline.vim
    ignore = all
[submodule "vim/.vim/bundle/vim-surround.git"]
    path = vim/.vim/bundle/vim-surround.git
    url = git://github.com/tpope/vim-surround.git
    ignore = all
[submodule "vim/.vim/bundle/vim-repeat.git"]
    path = vim/.vim/bundle/vim-repeat.git
    url = https://github.com/tpope/vim-repeat.git
    ignore = all
[submodule "vim/.vim/bundle/vim-colorschemes.git"]
    path = vim/.vim/bundle/vim-colorschemes.git
    url = https://github.com/flazz/vim-colorschemes.git
    ignore = all
[submodule "vim/.vim/bundle/csapprox.git"]
    path = vim/.vim/bundle/csapprox.git
    url = https://github.com/godlygeek/csapprox.git
    ignore = all
[submodule "vim/.vim/bundle/tagbar"]
    path = vim/.vim/bundle/tagbar
    url = git://github.com/majutsushi/tagbar
    ignore = all
[submodule "vim/.vim/bundle/nerdtree.git"]
    path = vim/.vim/bundle/nerdtree.git
    url = https://github.com/scrooloose/nerdtree.git
    ignore = all
[submodule "vim/.vim/bundle/ultisnips"]
    path = vim/.vim/bundle/ultisnips
    url = git://github.com/SirVer/ultisnips.git
    ignore = all
[submodule "vim/.vim/bundle/vim-snippets"]
    path = vim/.vim/bundle/vim-snippets
    url = https://github.com/honza/vim-snippets.git
    ignore = all
[submodule "vim/.vim/bundle/tcomment"]
    path = vim/.vim/bundle/tcomment
    url = https://github.com/tomtom/tcomment_vim.git
    ignore = all
[submodule "vim/.vim/bundle/bexec"]
    path = vim/.vim/bundle/bexec
    url = https://github.com/fboender/bexec.git
    ignore = all
[submodule "vim/.vim/bundle/powerline-fonts"]
    path = vim/.vim/bundle/powerline-fonts
    url = https://github.com/powerline/fonts
    ignore = all
[submodule "vim/.vim/bundle/vim-git-branch-info"]
    path = vim/.vim/bundle/vim-git-branch-info
    url = https://github.com/taq/vim-git-branch-info
    ignore = all
[submodule "vimperator.vim"]
    path = vim/.vim/bundle/vimperator.vim
    url = https://github.com/vimperator/vimperator.vim.git
    ignore = all
