
[Unit]
Description=Change wallpaper from national geographic photo of today 

[Service]
Type=oneshot
ExecStart=/home/charly/Scripts/change_wallpaper.sh
ExecStop=

