
[Unit]
Description=Change wallpaper from national geographic photo of today 

[Service]
Type=oneshot
ExecStart=/usr/bin/bash %h/Scripts/change_wallpaper.sh
ExecStop=

