#use more that -50 to overwrite (-50 to show both matches)
priority -40

snippet snip "Snippet definition" b
`!p snip.rv = "snippet"` ${1:Trigger} "(mine) ${2:Description}" 
$0
`!p snip.rv = "endsnippet"`
endsnippet





# vim:ft=snippets:
